<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="index.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap" rel="stylesheet">

        <title>
            {% block title %}{% endblock %}
        </title>
    </head>

    <body>
        <header>
            <nav class="navbar navbar-light navbar-expand bg-light mb-4 py-2">
                <div class="container flex-column flex-md-row">
                    <a class="navbar-brand" href="/">
                        <img src="/svg/logo.svg" alt="Generic Hipster Coffee" width="180" height="180"/>
                    </a>
                    <ul class="navbar-nav gap-sm-3">
                        <li class="nav-item">
                            <a class="nav-link {% block navHome %}{% endblock %}" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block navMenu %}{% endblock %}" href="/menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block navCoffee %}{% endblock %}" href="/coffee">Coffee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block navOurStory %}{% endblock %}" href="/our-story">Our Story</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main class="container"> {% block content %}{% endblock %}
            </main>
            <footer class="bg-dark py-5">
                <div class="container">
                    <ul class="nav justify-content-center align-items-flex-start mb-2 mx-n3">
                        <li class="nav-item">
                            <a class="nav-link {% block navFooterHome %}{% endblock %}"  href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block navFooterMenu %}{% endblock %}" href="/menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block navFooterCoffee %}{% endblock %}" href="/coffee">Coffee</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% block navFooterOurStory %}{% endblock %}" href="/our-story">Our Story</a>
                        </li>
                    </ul>

                    <p class="text-white text-center  h5 pt-5">#hipstersmakecoffee</p>
                    <p class="text-white text-center mb-6 mb-lg-0">Follow us on
                        <a class="text-info" href="https://twitter.com/ghcoffeesf">Twitter</a>
                        and
                        <a class="text-info" href="https://www.instagram.com/ghcoffeesf/?hl=cs">Instagram</a>
                    </p>
                </div>
            </footer>
            {% block script %}{% endblock %}
        </body>
    </html>
