{% extends '_base.njk' %}

{% block title %}Coffee{% endblock %}

{% block navCoffee %}active{% endblock %}

{% block navFooterCoffee %}link-light{% endblock %}

{% block content %}
    <h1>Coffee</h1>
    <p class="lead">We work with specialty coffee from current crops which is carefully roasted. Our coffee is fruity, juicy
        and never boring. We bring you the best from leading european specialty roasteries, currently mostly from
        <a href="https://shop.squaremilecoffee.com">Square Mile Coffee Roasters,</a>
        a multi award winning coffee roasting company based in East London.</p>

    <p>You can currently buy these beans in 350g bags.</p>

    <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
        {% for coffee in coffees %}
            <div class="col">
                <section class="card bg-light border-light">
                    <h2 class="card-header">{{ coffee.name }} <span class="d-inline-block">({{ coffee.origin }})</span></h2>
                    <img src="/img/coffees/{{ coffee.image }}" class="img-fluid  card-img-top" width="480" height="480" alt=""/>
                    <div class="card-body">
                        <p class="card-text fst-italic">
                            {{ coffee.tastes | join(" / ") }}
                        </p>
                        <p class="card-text">{{ coffee.shortDescription }}</p>
                    </div>
                </section>
            </div>
        {% endfor %}
    </div>
{% endblock %}
