{% extends '_base.njk' %}

{% block title %}Generic Hipser Coffee{% endblock %}

{% block content %}

    <section>
        <h1>Generic Hipster Coffee</h1>
        <p class="h3">Speciality coffee, fresh food &amp; local community</p>
        <img src="/img/counter.jpg" class="img-fluid" alt="" {#width="" height=""#}/>
    </section>

    <section class="row">
        <article class="col-sm">
            <h2 class="h4">Opening hours</h2>
            <p>sunday – thursday: 8:00 – 23:00<br/>friday – saturday: 8:00 – 1:00</p>
        </article>
        <article class="col-sm">
            <h2 class="h4">Book a table</h2>
            <p>Call
                <a class="text-decoration-none" href="tel:+14153214567">+1 415-321-4567</a>
            </p>
        </article>
        <article class="col-sm">
            <h2 class="h4">Address</h2>
            <p>321 Ivy St.<br/>San Francisco, CA 94102</p>
        </article>
    </section>

    <div class="ratio ratio-16x9">
        <div id="map"></div>
    </div>


{% endblock %}


{% block script %}
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCXd8mwzW0g7UtZQYcbf_3mQxA01EVpl3o&callback=initMap&v=weekly"
        defer></script>
    <script>
        function initMap() {
            const ivySt = {
                lat: 37.7771997,
                lng: -122.4256707
            };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 18,
                center: ivySt
            });
            const marker = new google.maps.Marker({position: ivySt, map: map});
        }

        window.initMap = initMap;
    </script>
{% endblock %}
