{% extends '_base.njk' %}

{% block title %}Our story | {{ super() }}{% endblock %}

{% block description %}GHC started as a project of two friends and passionate baristas, John & Don in 2010.{% endblock %}

{% block navOurStory %}active{% endblock %}

{% block navFooterOurStory %}link-light{% endblock %}

{% block content %}
    <h1>Our story</h1>
    <p class="lead mb-3">
        GHC started as a project of two friends and passionate baristas, John &amp; Don in 2010. Believing as much in the hand
        of an educated barista as in the innovative equipment of the our ever-growing industry, GHC offers a full spectrum of
        brewing opportunities – from pour overs to syphon pots to finely executed espresso beverages. Each cup of coffee is made
        with love, precision and care.
    </p>
    <img 
        srcset="
            /img/espresso-machine_mckglh_c_scale,w_272.jpg 272w,
            /img/espresso-machine_mckglh_c_scale,w_534.jpg 534w,
            /img/espresso-machine_mckglh_c_scale,w_733.jpg 733w,
            /img/espresso-machine_mckglh_c_scale,w_1046.jpg 1046w,
            /img/espresso-machine_mckglh_c_scale,w_1267.jpg 1267w,
            /img/espresso-machine_mckglh_c_scale,w_1356.jpg 1356w,
            /img/espresso-machine_mckglh_c_scale,w_1443.jpg 1443w,
            /img/espresso-machine_mckglh_c_scale,w_1705.jpg 1705w,
            /img/espresso-machine_mckglh_c_scale,w_1825.jpg 1825w,
            /img/espresso-machine_mckglh_c_scale,w_1861.jpg 1861w,
            /img/espresso-machine_mckglh_c_scale,w_2087.jpg 2087w,
            /img/espresso-machine_mckglh_c_scale,w_2137.jpg 2137w,
            /img/espresso-machine_mckglh_c_scale,w_2184.jpg 2184w" 
        sizes="
            (min-width: 1200px) 1092px,
            (min-width: 992px) 912px,
            (min-width: 768px) 672px,
            (min-width: 576px) 492px,
            calc(100vw - 2 * 1.5rem)"
        src="/img/espresso-machine_mckglh_c_scale,w_1267.jpg" 
        alt="" 
        class="img-fluid mb-n4" 
        width="1267" 
        height="713"
    />

{% endblock %}
